{%extends 'index.html'%}
{%block content%}
  <!-- Product section-->
     
  <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/static/base/images/img/logo.jpg" alt="..." />    
  <section class="page-section clearfix">
      <div class="container">

     

     </div>
 </section>
 

 <!-- Content section 1-->
 <section id="scroll">
     <div class="container px-5">
         <div class="row gx-5 align-items-center">
             <div class="col-lg-6 order-lg-2">
                 <div class="p-5"><img class="img-fluid rounded-circle" src="/static/base/images/img/01.jpg" alt="..." /></div>
             </div>
             <div class="col-lg-6 order-lg-1">
                 <div class="p-5">
                     <h2 class="display-4">PROmet</h2>
                     <p>저희 프로멧에서 기업과 인재의 성공적인 연결을 경험해보세요!</p>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <!-- Content section 2-->
 <section>
     <div class="container px-5">
         <div class="row gx-5 align-items-center">
             <div class="col-lg-6">
                 <div class="p-5"><img class="img-fluid rounded-circle" src="/static/base/images/img/02.jpg" alt="..." /></div>
             </div>
             <div class="col-lg-6">
                 <div class="p-5">
                     <h2 class="display-4"> 프로필 등록하면 스카웃 제안이 찾아와요.</h2>
                     <p>내 경력과 전문성에 딱 맞는 제안을 만나보세요. 일 잘하는 당신의 파트너, PROmet 대기업, 공기업 채용 플랫폼.</p>
                 </div>
             </section>
 <!-- Content section 1-->
 <section id="scroll">
     <div class="container px-5">
         <div class="row gx-5 align-items-center">
             <div class="col-lg-6 order-lg-2">
                 <div class="p-5"><img class="img-fluid rounded-circle" src="/static/base/images/img/03.jpg" alt="..." /></div>
             </div>
             <div class="col-lg-6 order-lg-1">
                 <div class="p-5">
                     <h2 class="display-4"> 나를 주인공으로 만들어주는 PROmet</h2>
                     <p>대기업 채용, 공기업 채용부터 자기소개서, 실시간 정보 공유 익명 채팅방 솔루션으로 빠른 취업, 채용, 이직, 취직 성공하세요.</p>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <footer class="footer text-faded text-center py-5">
     <div class="container"><p class="m-0 small">Copyright &copy; Your Website 2022</p></div>
 </footer>


{%endblock%}